.card_image {
  max-width: 15%;
  border-radius: 7px;
  margin-left: -60px;
}

.card_image:first-child {
  margin-left: 0;
}

.card-img {
  border-radius: 7px;
  width: 50%;
  height: 50%;
  max-width: 237px;
  margin: auto;
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
}

.card_picture {
  max-width: 200px;
  position: relative;
  top: 25%;
  margin-left: calc(53% - 160px);
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
  margin-bottom: 32px;
}