.card_image {
  max-width: 15%;
  border-radius: 7px;
  margin-left: -60px;
}

.card_image-selected {
  max-width: 15%;
  border-radius: 7px;
  margin-left: -60px;
  border: 10px orange solid;
  //Box shadow possible alternative
}

.card_image:first-child {
  margin-left: 0;
}

.card-img {
  border-radius: 7px;
  width: 50%;
  height: 50%;
  max-width: 237px;
  margin: auto;
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
}

.card_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: 35%;
}
