.overlay {
  position: fixed;
  height: 2000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  color: #ffda55;
  margin: 70px auto;
  padding: 20px;
  background: rgba(58, 150, 107, 0.776);
  border-radius: 5px;
  width: 285px;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: rgb(216, 6, 6);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.win-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 0;
}

.win-popup {
  color: #ffda55;
  margin: 70px auto;
  padding: 20px;
  background: rgba(58, 150, 107, 0.776);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.win-popup h2 {
  margin-top: 0;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.win-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.win-popup .close:hover {
  color: rgb(216, 6, 6);
}
.win-popup .content {
  max-height: 30%;
  overflow: auto;
}