@media screen and (max-width: 980px) {
  .your-hand-column {
    flex-direction: row;
  }

  .your-matches-column {
    flex-direction: row;
    align-self: right;
  }

  .welcome {
    margin-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .card_image {
    max-width: 20%;
    margin-left: -17px;
    overflow: auto;
  }

  .player__box {
    width: 100px;
    margin-top: 5px;
    height: 40px;
  }

  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}